
<%- include('partials/head') %>

    <%- include('partials/navbar') %>
    <h1>The Home page <%= 4+6 %></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At reiciendis quaerat cupiditate, ab tempora dolorem eius laudantium animi adipisci sed inventore fugit neque omnis eum vitae aliquam ex architecto vel.</p>
    <%- include('partials/footer') %>